/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.body{
  background-color: #757780;
}

.HomePageBackground{
  background-image: url(https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200);
  height: 235px;
    display: flex;
    background-position: center;
    width: 100%;
    justify-content: center;
    border: 1px solid;
}

span.homePageText {
  display: flex;
  flex-direction: column-reverse;
  color: white;
  font-family: cursive;
  text-shadow: 2px 2px 4px #D2CCA1;
}

nav.navbar {
  background-color: #387780;
  height: 50px;
  display: flex;
}

.buttonLeftCorner {
background-color: #E0E0E0;
width: 80px;
height: 38px;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 9px;
margin-top: 6px;
margin-left: 9px;
border-left-width: 1px;
padding-left: 8px;
float: left;
}

.buttonRight{
  background-color: #E0E0E0;
    width: 60px;
    height: 39px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 9px;
    margin-top: 6px;
    margin-left: 9px;
    border-left-width: 1px;
    padding-left: 8px;
}


.buttonRightContainer{
  display:flex;
  padding-left: 117px;
}


.homePageBtmContainer{
  background-color:#757780;
}

h2 {
  color: #E83151;
    text-align: center;
    font-family: serif;
}