img {
  width: 224px;
  height: 149px;
}

/* .UserContainer{
  border: solid 1px black;
  height: 191px;
  width: 224px;
  padding-top: 24px;
}

.firstNameContainer {
  text-align: center;
  border: 1px solid;
  background: black;
  color: white;
} */



